YK11Q1_0923/TA_orarend.dtd

<!ELEMENT orarend (ora+)>
    <!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (nap, tol, ig)>
            <!ELEMENT nap (#PCDATA)>
            <!ELEMENT tol (#PCDATA)>
            <!ELEMENT ig (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
        <!ATTLIST ora id CDATA #REQUIRED>
        <!ATTLIST ora típus CDATA #REQUIRED>
